TIMEZONE=America/Sao_Paulo
LOG_LEVEL=INFO # INFO, DEBUG
PROHORT_MONTHLY_URL=https://portaldeinformacoes.conab.gov.br/downloads/arquivos/ProhortMensal.txt

API_HOST=127.0.0.1
API_PORT=8001

ENABLE_DESCRIPTION_GENERATION=false
GEMINI_KEY=blablabla
